
<div class="container h-100 text-center">
          <n2 mat-dialog-title class="text-center mb-4">
            Change password
          </n2>
        <mat-dialog-content>

          <form [formGroup]="registerForm" #form (ngSubmit)="formSubmit()">

            @if (error){
              <ng-container>
                <div class="row align-items-center errorForm">
                  <div class="col errorMessage">
                    une erreur s'est produite veuillez reéssayez
                  </div>
                </div>
              </ng-container>
            }


            <div class="row align-items-center">

              @defer (when  show) {
                <div class="col">
                  <mat-form-field class="d-flex justify-content-center" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput #pass [type]="hide ? 'password' : 'text'"
                           formControlName="oldPass"
                           [errorStateMatcher]="matcher"
                           [required]="show" (blur)="updateErrorMessage()">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                      <mat-icon class="mat-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (registerForm.controls.oldPass.invalid) {
                      <mat-error>
                        {{errorMessageRequired}}
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              }

              <div class="col">
                <mat-form-field class="d-flex justify-content-center" appearance="outline">
                  <mat-label> New password</mat-label>
                  <input matInput #pass [type]="hide2 ? 'password' : 'text'"
                         formControlName="password"
                         [errorStateMatcher]="matcher"
                         (blur)="updateErrorMessage()" required>
                  <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon class="mat-icon">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (registerForm.controls.password.invalid) {
                      <mat-error>
                        {{errorMessageRequired}}
                        {{errorMessagePass}}
                      </mat-error>
                  }
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field class="d-flex justify-content-center" appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input matInput #pass [type]="hide3 ? 'password' : 'text'"
                         formControlName="confirmPassword"
                         [errorStateMatcher]="matcher">
                  <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon class="mat-icon">{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (dis) {
                      <mat-error>{{errorMessagePass}}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </form>
        <mat-dialog-actions class="d-flex flex-column align-items-center justify-content-center">
          <p class=" w-100 mt-3 text-center" style="color: red">
            {{message}}
          </p>
          <button [disabled]="!registerForm.valid" (keyup.enter)="formSubmit()"
                  mat-raised-button color="primary" (click)="formSubmit()" type="submit">Save</button>
        </mat-dialog-actions>
      </mat-dialog-content>

</div>
