@use '@angular/material' as mat;
@include mat.core();
/* ======== Angular material custom themes ======== */
$my-custom-light-primary: mat.define-palette(mat.$blue-palette);
$my-custom-light-accent: mat.define-palette(mat.$orange-palette, 100, 500, A100);
$my-custom-light-warn: mat.define-palette(mat.$red-palette);
// Convert => mat-light-theme()
$my-custom-light-theme: mat.define-light-theme((
  color: (
    primary: $my-custom-light-primary,
    accent: $my-custom-light-accent,
    warn: $my-custom-light-warn
  )
));

$my-custom-dark-primary: mat.define-palette(mat.$blue-palette);
$my-custom-dark-accent: mat.define-palette(mat.$orange-palette, 100, 500, A100);
$my-custom-dark-warn: mat.define-palette(mat.$red-palette);
// Convert => mat-dark-theme()
$my-custom-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-custom-dark-primary,
    accent: $my-custom-dark-accent,
    warn: $my-custom-dark-warn
  )
));
@include mat.all-component-themes($my-custom-light-theme);
@include mat.strong-focus-indicators-theme($my-custom-light-theme);


.my-dark-theme {
  @include mat.all-component-colors($my-custom-dark-theme);
  @include mat.strong-focus-indicators-color($my-custom-dark-theme);
}
