<app-app-loader></app-app-loader>
<div class="row h-100 w-100 p-5  d-flex justify-content-center align-items-center grid">
<!--  <mat-grid-list class="h-100 w-100" cols="1" rowHeight="2:1">-->
<!--    <mat-grid-tile>-->
      <mat-card class="w-50 mat-card">
        <mat-card-title-group class="text-center d-flex justify-content-center">
          <mat-card-title>
            <h2 class="mt-5 text-center" style="font-size: x-large">
              <img height="180" width="180" src="assets/image/Fichier%205@0.5x-100.jpg">
            </h2>
          </mat-card-title>
        </mat-card-title-group>
        <mat-card-subtitle>
          <h4 class="text-center" style="font-size: x-large; font-weight: bold">
            Forgot password
          </h4>
          <h4 class="m-3 text-center" style="font-size: large">
            Enter your email for get a new password.
          </h4>
        </mat-card-subtitle>
        <mat-card-content>
          <form class="w-100 row" [formGroup]="loginForm">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput
                     placeholder="pat@example.com"
                     formControlName="mail"
                     (blur)="updateErrorMessage()"
                     required>
              @if (loginForm.controls.mail.invalid) {
                <mat-error>
                    {{errorMessageEmail}}
                    {{errorMessageRequired}}
                </mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-footer class=" row mb-3 d-flex justify-content-center">
          <p class="row w-100 mt-3 text-center" style="color: red">
            {{message}}
          </p>
          <div class="w-100 row">
            <button class="col ms-2 w-50" mat-raised-button color="accent" (click)="back()">
              <mat-icon>
                <span class="material-symbols-outlined">
                  arrow_back
                </span>
              </mat-icon> Back
            </button>
            <p class="col"></p>
            <button [disabled]="loginForm.invalid" class="col me-2" mat-raised-button color="primary" (click)="formSubmit()">Validate</button>
          </div>

        </mat-card-footer>
      </mat-card>
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>


