<app-app-loader></app-app-loader>

<div class="h-100 w-100 p-5 row d-flex justify-content-center align-items-center grid">
<!--  <mat-grid-list class="h-100 w-100 row">-->
<!--    <mat-grid-tile>-->

      <mat-card class=" mat-card w-50 ">
        <mat-card-title-group class="text-center d-flex justify-content-center">
          <mat-card-title>
            <h2 class=" mt-5 text-center" >
              <img height="150" width="150" src="assets/image/Fichier%205@0.5x-100.jpg" alt="logo digisoft">
            </h2>
          </mat-card-title>
          <mat-card-title>
            <h3 class="text-center">
              <strong style="color: #3f51b5; font-size: xx-large ">Login</strong>
            </h3>
          </mat-card-title>
        </mat-card-title-group>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
              <form class="row" [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput
                         placeholder="luc@example.com"
                         formControlName="email"
                         (blur)="updateErrorMessage()"
                         required>
                 @if (loginForm.controls.email.invalid){
<!--                   <ng-container>-->
                     <mat-error>
                       {{errorMessageEmail}}
                       {{errorMessageRequired}}
                     </mat-error>
<!--                   </ng-container>-->
                  }
                </mat-form-field>

                @defer(when !otpMode) {
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="!loginForm.controls.hide.value ? 'password' : 'text'" formControlName="passWord"
                           (blur)="updateErrorMessage()" [required]="!otpMode">
                    <!--                  <mat-hint>-->
                    <!--                    -->
                    <!--                  </mat-hint>-->
                    <mat-hint class="row mt-3 w-100 d-flex justify-content-center">

                    </mat-hint>

                    @if (loginForm.controls.passWord.invalid) {
                      <!--                    <ng-container>-->
                      <mat-error>{{errorMessageRequired}}</mat-error>
                      <!--                    </ng-container>-->
                    }
                  </mat-form-field>
                  <p><mat-checkbox formControlName="hide">Display password</mat-checkbox></p>
                }

              </form>
        </mat-card-content>

        <mat-card-footer class="mt-2  d-flex flex-column align-items-center justify-content-center">
          @defer(when !otpMode) {
            <a [routerLink]="['/forgot-pass']" mat-button class="btn-out">Forgot password ?</a>
          }

          @if (error){
            <p class=" w-100 mt-3 text-center" style="color: red">
              {{message}}
            </p>
          }

          <div class="w-100 mt-2 row">
            <button class="col ms-2 w-50" mat-raised-button color="accent" (click)="back()">
              <mat-icon>
                <span class="material-symbols-outlined">
                  arrow_back
                </span>
              </mat-icon> Back
            </button>
            <p class="col"></p>
            <button [disabled]="loginForm.invalid" class="col " mat-raised-button color="primary" (click)="formSubmit()">Login</button>
          </div>
          <p class="row mt-3">
             <a [routerLink]="['/register']" mat-button class="btn-out">Not a account ? Register now</a>
          </p>
        </mat-card-footer>
      </mat-card>
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</div>


